# DEEPSEEK API
DEEPSEEK_API_KEY=your_api_key_here
DEEPSEEK_API_OPENAI_URL=https://api.deepseek.com
DEEPSEEK_API_ANTHROPIC_URL=https://api.deepseek.com/anthropic
DEEPSEEK_API_MODEL=deepseek-chat

# 火山引擎（可选）
VOLC_ACCESS_KEY_ID=your_access_key
VOLC_SECRET_ACCESS_KEY=your_secret_key
VOLC_API_KEY=your_api_key
VOLC_API_URL=https://ark.cn-beijing.volces.com/api/coding
VOLC_API_MODEL=glm-5.2
